<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
		
  <test thread-count="5" name="Test">
  		<parameter name="uid" value="pedroalmodovar@test.com"/> 
      	<parameter name="pid" value="1q2w3e"/> 
    <classes>
      <class name="com.Test.Testscripts.TestScripts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
